vrrp_instance VI_1 {
    state {{ keepalived_state | default('MASTER') }};
    interface {{ keepalived_interface | default('ens160') }};
    virtual_router_id {{ keepalived_router_id | default(51) }};
    priority {{ keepalived_priority | default(100) }};

    virtual_ipaddress {
        {{ keepalived_virtual_ip }}
    }
}

virtual_server {{ keepalived_virtual_ip }} {{ keepalived_virtual_port | default(80) }} {
    delay_loop 6
    lb_algo rr
    lb_kind DR

    real_server {{ keepalived_master_ip }} {{ keepalived_master_port | default(80) }} {
        weight 1
    }

    real_server {{ keepalived_backup_ip }} {{ keepalived_backup_port | default(80) }} {
        weight 1
    }
}
