vrrp_instance VI_1 {
    state {{ keepalived_state | default('MASTER') }};
    interface {{ keepalived_interface | default('ens160') }};
    virtual_router_id {{ keepalived_router_id | default(51) }};
    priority {{ keepalived_priority | default(100) }};

    virtual_ipaddress {
        {{ keepalived_virtual_ip }}
    }
}
